" Import defaults and then override them for Jetbrains specifics
:source ~/.vimrc

:set number
:set ignorecase
:set showmode
:set scrolloff=8
:set visualbell
:set noerrorbells

nnoremap <leader>w :action ReformatCode<CR> :write<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<cr>
nnoremap <leader>rn :action RenameElement<CR>

" Essential
nmap gh <Action>(QuickJavaDoc)
nmap ge <Action>(ShowErrorDescription)

" Best movement ever
nmap g[ <Action>(GotoNextError)
nmap g] <Action>(GotoPreviousError)

" Built-in search looks nicer
nnoremap / <ESC>:action Find<CR>

" Refresh
nnoremap \r <ESC>:source ~/.ideavimrc<CR>

" HarpoonIJ
nmap <leader>a <Action>(AddToHarpoon)
nmap <leader>1 <Action>(GotoHarpoon1)
nmap <leader>2 <Action>(GotoHarpoon2)
nmap <leader>3 <Action>(GotoHarpoon3)
nmap <leader>4 <Action>(GotoHarpoon4)
nmap <leader>5 <Action>(GotoHarpoon5)
nmap <C-e> <Action>(ShowHarpoon)


