" Import defaults and then override them for Jetbrains specifics
:source ~/.vimrc

:set number
:set ignorecase
:set showmode
:set scrolloff=8
:set visualbell
:set noerrorbells

nnoremap <leader>w :action ReformatCode<CR> :write<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>q :q<cr>
nnoremap <leader>rn :action RenameElement<CR>

nmap gh <Action>(QuickJavaDoc)
nmap ge <Action>(ShowErrorDescription)
